html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-frame-unit {
    border: groove;
    padding: 1em;
    background-image: linear-gradient(#d3ebf6, #bee5f7, #5ac4f5, #0384bf);
    width: 30%;
    min-width: 384px
}

.app-frame-base {
    border: groove;
    padding: 1em;
    background-image: linear-gradient(#f6f2d3, #e8d28c, #e0a368, #e17537);
    width: 30%;
    min-width: 384px
}

.form-input {
    width: 100%
}