@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MacPConversionsMvcClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UnitConversionsMvcClient.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container row-cols-2">
                <feature name = "@nameof(FeatureFlags.UnitConversions)">
                    <a class="navbar-brand col-md-2" asp-area="" asp-controller="UnitConversions" asp-action="Index">Unit Conversions MVC Client</a>
                </feature>
                <feature name="@nameof(FeatureFlags.BaseConversions)">
                    <a class="navbar-brand col-md-2" asp-area="" asp-controller="BaseConversions" asp-action="Index">Base Conversions MVC Client</a>
                </feature>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MacPConversionsMvcClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
